Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-10.dylib
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.so
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/burst-llvm-16.dll
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/hostmac/dsymutil
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.dylib
.vs/
.vsconfig
AutoPush/